link(href='/common/fonts/font.css' type='text/css' rel='stylesheet')
script(src='https://unpkg.com/twemoji@latest/dist/twemoji.min.js' crossorigin='anonymous')
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Mandali&family=Mochiy+Pop+One&family=Zen+Maru+Gothic&display=swap' rel='stylesheet')
