---
layout: /page/default.pug
type: "character"
title: "コモ"
description: "蚕の虫人、もこもこしている"
image: "/images/main/えへんと胸をはるコモくん.png"
date: 2022-05-16T18:24:28+09:00
index: 2
draft: false
tags:
  - character
  - introduction
  - como
---

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
p
