script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src='https://unpkg.com/@barba/core@2.9.7/dist/barba.umd.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js')
script(src='/common/js/main.js')
script(src='/common/js/barba_gsap.js')
script(src='/common/js/layout.js')
script(src='/common/js/gallery.js')
