include font
script(src='/common/js/system.js')
//- include analytics

script(src='/common/js/pre.js')
link(href='/common/css/layout.css' type='text/css' rel='stylesheet')
link(href='/common/css/header.css' type='text/css' rel='stylesheet')
link(href='/common/css/main.css' type='text/css' rel='stylesheet')
link(href='/common/css/gallery.css' type='text/css' rel='stylesheet')
link(href='/common/css/effect.css' type='text/css' rel='stylesheet')
link(href='/common/css/audio.css' type='text/css' rel='stylesheet')

include seo
include js
