include font
+linkStatic('/common/js/system.js')
//- include analytics

+linkStatic('/common/js/pre.js')
+linkStatic('/common/css/layout.css')
+linkStatic('/common/css/header.css')
+linkStatic('/common/css/main.css')
+linkStatic('/common/css/gallery.css')
+linkStatic('/common/css/effect.css')
+linkStatic('/common/css/audio.css')

include seo
include js
