header {
    position: fixed;
    box-sizing: inherit;
    width: 100%;
    z-index: 999;
    text-align: center;
    display: block;
}
header .background {
    background-color: var(--background-top);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: -10;
    top: 0;
    left: 0;
    position: absolute;
}

header > div.title {
    padding: 4px 16px;
    margin: 0;
}

.logo {
    display: inline-block;
    margin: 16px auto 8px;
    font-family: "Mochiy Pop One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 120% */
}
header .MenuButton {
    display: none;
    position: absolute;
    cursor: pointer;
    margin: 4px 0;
    top: 0;
    right: 6px;
}
.MenuButton * {
    transition: 50ms;
}
.MenuButton .Fill1 {
    transition: 200ms;
}
.MenuButton:hover .Fill1 {
    fill: #c7dba0;
}
.naviMenu_open .MenuButton .Line1 {
    width: 51.02px;
    transform: translate(-27px, 25px) rotate(-45deg);
}
.naviMenu_open .MenuButton .Line2 {
    fill-opacity: 0;
}
.naviMenu_open .MenuButton .Line3 {
    width: 52px;
    transform: translate(16px, -7px) rotate(45deg);
}

header a {
    text-decoration: none !important;
}
.logo,
.logo * {
    color: var(--main-color);
}

.menu {
    text-align: center;
}
.menu > * {
    display: inline-block;
    margin: 0;
}
.menuExit {
    z-index: 100;
    display: none;
}
.naviMenu_open .menuExit {
    display: block;
}
.navi {
    padding: 0 16px;
    font-family: "LuloCleanW01-OneBold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 44px;
    /* identical to box height, or 293% */
    text-align: center;
    transition: 200ms;
    color: var(--main-color-soft);
    min-width: 60px;
}
.navi.selected {
    background-color: var(--main-color-soft);
    color: white;
}
.navi:hover {
    background-color: var(--main-color-fluo);
    color: var(--main-color);
}
.navi.selected:hover {
    background-color: var(--main-color-pale);
    color: white;
}
#mainarea {
    padding-top: 120px;
}
@keyframes menuClick {
    from {
        opacity: 0;
        top: -100vh;
    }
    1% {
        opacity: 0;
        top: auto;
    }
    to {
        opacity: 1;
        top: auto;
    }
}
@keyframes menuLeave {
    from {
        opacity: 1;
        top: auto;
    }
    99% {
        opacity: 0;
        top: auto;
    }
    to {
        opacity: 0;
        top: -100vh;
    }
}
@keyframes menuChange {
    from {
        opacity: 1;
        top: auto;
    }
    50% {
        opacity: 1;
        top: auto;
    }
    to {
        opacity: 0;
        top: -100vh;
    }
}
@media screen and (max-width: 800px) {
    header .menu {
        top: -100vh;
        opacity: 0;
        position: absolute;
        z-index: 1101;
        background-color: rgba(255, 255, 255, 0.9);
    }
    header .menu .navi {
        padding: 4px 16px;
    }
    header .MenuButton {
        display: block;
    }
    .naviMenu_open header .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        top: auto;
        opacity: 1;
        animation-name: menuClick;
        animation-duration: 50ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .naviMenu_change header .menu {
        animation-name: menuChange;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .naviMenu_leave header .menu {
        animation-name: menuLeave;
        animation-duration: 50ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    header .menu > a {
        min-width: 33%;
        margin: 0;
    }
    .logo {
        font-size: 28px;
        line-height: 52px;
        margin: 4px auto;
    }
    #mainarea {
        padding-top: 68px;
    }
}
