---
layout: /page/default.pug
section: other
sitemap: true
---

h1 OHTER

.list.flex
  div
    a(href=`/app/`)
      div
        h2 APP
        h3 フリーソフトなど
  div
    a(href=`/note/`)
      div
        h2 NOTE
        h3 色々書いてる
