#mainarea
  main(data-barba='wrapper')
    #content
      div(data-barba='container' data-topmenu=`${pageSection}`)
        - const mdcls = [];
        - if (pageSection) mdcls.push(pageSection);
        - if (type) mdcls.push(type);
        - if (fillwidth) mdcls.push('fillwidth');
        .markdown(class=`${mdcls.join(' ')}`)
          block page
    include footer
