---
layout: "layout/page/default.pug"
type: "page"
SectionTitle: true
section: "contact"
noindex: true
---

h1 CONTACT

h2 連絡先
p メールアドレスはこちらです！  
p #{author.mail.replace("@","🐑")}
p （🐑を@に変えてください）

p 🐑

p （別サイトになりますが、
  a(href="https://kouwtkz.wixsite.com/cottonwind/contact" target="_blank") 応募フォーム
  | もあります）

h2 依頼についての注意書き
ul
  li
    p 有償依頼について
    p 個人の方は
      a(href="https://skeb.jp/@kouwtkz" target="_blank") Skeb
      | か
      a(href="https://www.pixiv.net/users/5577703/request" target="_blank") Pixivリクエスト
      | にて受け付けてます！  
    p 法人あるいは個人の方でも細かい依頼をしたい方は下記フォームにてよろしくおねがいします！
  li
    p 受付可能な依頼について
    p NSFWなど年齢制限が必要なものについては受け付けません。  
    p また、二次創作は公式様か公認のみ受け付けています
  li
    p 万が一について​
    p 通常は3日後までに返信しますが、お急ぎの案件で4日以降返信がなかった際は、  
    p 再度お問い合わせいただくと幸いです。
