---
layout: /page/default.pug
type: "page"
section: about
image: "/icons/icon.png"
variable: true
sitemap: true
---
include ../_includes/mixin/functions.pug

//- いろんなプロフィールをブロックごとにわけたいところ…
//- .profile
//-   +insertPageFromName("profile")
.overview
  +insertPageFromName("overview")
.tweet(style={width: `${site.tweet.width}px`, height: `${site.tweet.height}px`})
  iframe(src="/inline/twitter_kouwtkz.html" style={width: `${site.tweet.width}px`, height: `${site.tweet.height}px`, border: "hidden"})
