---
layout: /page/default.pug
section: other
title: "テスト"
index: 3
date: true
tags:
  - test
  - category
  - list
---

h1 #{title}
.flex.center
  - let pages = Array.from(search.pages("test article"));
  - pages = pages.map((item)=>{return item.data}).sort((a,b)=>a.index-b.index);
  each item in pages
    div
      h2.lulo
        a(href=`${item.url}`) #{item.title.toUpperCase()}
      h3 #{item.description}
