---
layout: "layout/page/default.pug"
type: "art-list"
title: "コモくんのグッズページ"
maxView: 0x1000
index: 2
en:
  title: "goods"
tags:
  - character
  - como
  - goods
goods:
  - src: "サンプル_アクリルストラップ.png"
    params:
      time: "2020-10-18"
      index: 1
      title: コモくんのアクリルストラップ
      link: https://coulank.booth.pm/items/2460908
  - src: "サンプル_アクリルスタンド.png"
    params:
      time: "2020-10-18"
      index: 2
      title: コモくんのアクリルスタンド
      link: https://coulank.booth.pm/items/2461001
  - src: "*"
    params:
      time: "2000-01-01 00:00:00"
      title: ""
      index: 9999
---
