---
layout: /page/default.pug
section: character
title: "コモ"
description: "蚕の虫人、もこもこしている"
image: "/images/art/えへんと胸をはるコモくん.png"
index: 2
tag: como
tags:
  - character
  - introduction
  - como
goods:
  title: goods
  path: /images/goods
  timeFormat: Y.m.d
  timeReplace: "released: $1"
  list:
  - src: "サンプル_アクリルストラップ.png"
    time: 2020-10-18
    title: コモくんのアクリルストラップ
  - src: "サンプル_アクリルスタンド.png"
    time: 2020-10-18
    title: コモくんのアクリルスタンド
---
include ../_includes/components/gallery.pug

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
p
.gallery
  h2 #{goods.title}
  +galleryList({obj: goods})
p
.gallery
  h2 RECENTLY ART
  +galleryList({dir: "/images/art", max: 20, list: (mediaData.gallery.art.list.filter((e)=>e.tags.findIndex(e=>e==tag)>=0))})
