---
layout: /page/default.pug
section: character
title: "フロン"
description: "寒いところが好きなおばけ"
image: "/images/art/フロンくん2022.png"
index: 4
tag: floan
tags:
  - character
  - introduction
  - floan
---
include ../_includes/components/gallery.pug

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
p
.gallery
  h2 RECENTLY ART
  +galleryList({dir: "/images/art", max: 20, list: (mediaData.image.main.list.filter((e)=>e.tags.findIndex(e=>e==tag)>=0))})
