---
layout: /page/default.pug
section: character
title: "フロン"
description: "寒いところが好きなおばけ"
image: "/images/main/フロンくん2022.png"
index: 4
draft: false
tags:
  - character
  - introduction
  - floan
---

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
