---
layout: "layout/page/default.pug"
type: "character"
title: "マフーン"
description: "ぬいぐるみのまほうだぬきマフ！"
image: "/images/main/マフーンキャラシ_001.png"
date: 2022-05-16T20:02:52+09:00
index: 3
draft: false
tags:
  - character
  - introduction
  - maffoon
---

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
