---
layout: /page/default.pug
section: character
title: "マフーン"
description: "まほうのぬいぐるみマフ！"
image: "/images/main/マフーンキャラシ_001.png"
date: 2022-05-16T20:02:52+09:00
index: 3
tag: maffoon
tags:
  - character
  - introduction
  - maffoon
---
include ../_includes/components/gallery.pug

h1 #{title}
h3 #{description}
img.iconL(src=`${image}` style={"border-radius": "8px"})
p
p マフーンはアライグマのぬいぐるみだけど、タヌキにあこがれて魔法が使えるようになったマフ！
p
.gallery
  h2 RECENTLY ART
  +galleryList({dir: "/images/main", max: 20, list: (mediaData.image.main.list.filter((e)=>e.tags.findIndex(e=>e==tag)>=0))})
