---
layout: /page/default.pug
type: "character"
title: "モニタン"
description: "猫っぽい液晶顔のロボット"
image: "/images/main/モニタンキャラシ_001.png"
index: 4
draft: false
tags:
  - character
  - introduction
  - monitorn
---

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
