---
layout: /page/default.pug
type: "character"
title: "わたかぜくん"
description: "代理キャラクター"
image: "/images/main/代理とかしわもち.png"
date: 2022-05-16T18:26:50+09:00
index: 1
draft: false
tags:
  - character
  - introduction
  - watakaze
  - myself
---

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
