---
layout: /page/default.pug
section: character
title: "わたかぜくん"
description: "代理キャラクター"
image: "/images/art/代理とかしわもち.png"
date: 2022-05-16T18:26:50+09:00
index: 1
draft: false
tag: watakaze
tags:
  - character
  - introduction
  - watakaze
  - myself
---
include ../_includes/components/gallery.pug

h1 #{title}
h3 #{description}

img.iconL(src=`${image}` style={"border-radius": "8px"})
p
.gallery
  h2 RECENTLY ART
  +galleryList({dir: "/images/art", max: 20, list: (mediaData.gallery.art.list.filter((e)=>e.tags.findIndex(e=>e==tag)>=0))})
